<form>
  <table id="board">
	  <tr>
    <td>First Row</td>
    <td>text</td>
    <td>text</td>
	  </tr>
    <tr>
	  <td>Second Row</td>
    <td>text</td>
    <td>text</td>
    </tr>
    <tr>
    <td>Third row</td>
    <td>text</td>
    <td>text</td>
    </tr>
  </table>
</form>

<a href="/">
<input type="submit" value="Home">
</a>
